@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 15px 0px;
  background: #1f2937;
}

button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #eee;
  border: none;
  border-radius: 8px;
  background: rgb(54, 116, 231);
  padding: 8px 16px;
  max-width: 115px;
}

.header {
  display: flex;
  margin-bottom: 75px;
  padding: 0 200px;
}

.container {
  padding: 0 200px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.links {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  display: flex;
  height: 350px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 300px;
  width: 300px;
  height: 300px;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 400px;
}

.hero-sub {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 450px;
  margin-left: 4px;
  margin-bottom: 8px;
}

.info {
  background: white;
  height: 350px;
}

.info-main {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.quote {
  background: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  height: 350px;
}

.action {
  background: white;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  color: #e5e7eb;
}
