@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #1f2937;
}

.hero-left button {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #eee;
  border: none;
  border-radius: 8px;
  background: #3b82f6;
  padding: 8px 16px;
  max-width: 115px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.top-wrapper {
  padding: 0 225px;
}

.header-wrapper {
  padding-top: 25px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  flex: 1;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

.links {
  display: flex;
  margin-left: auto;
  column-gap: 30px;
  font-size: 18px;
  color: #e5e7eb;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  height: 350px;
  padding-top: 100px;
}

.hero-container {
  display: flex;
  flex: 1 0 0;
}

.hero-left {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-right {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 230px;
  background-color: #6d747d;
  color: #dbdcdf;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  max-width: 400px;
}

.hero-sub {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 450px;
  margin-bottom: 8px;
}

.info-wrapper {
  background: #ffffff;
  height: 450px;
}

.info-main {
  display: flex;
  justify-content: center;
  padding-top: 42px;
  padding-bottom: 50px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.image {
  height: 150px;
  width: 150px;
  border: 4px #3b82f6;
  border-style: solid;
  border-radius: 10%;
  background: transparent;
}

.sub-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 56px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-sub {
  max-width: 150px;
  text-align: center;
  color: #747b87;
}
.quote-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e7eb;
  height: 450px;
}

.quote-container {
  display: flex;
  flex-direction: column;
}

.quote-main {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  max-width: 815px;
}

.quote-sub {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin-right: 25px;
}

.action-wrapper {
  background: #ffffff;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 30px;
  height: 150px;
  width: 1100px;
  border-radius: 0.75em;
  background-color: #3b82f6;
}

.action-left {
  color: #ffffff;
}

.action-main {
  font-size: 24px;
  font-weight: bolder;
}

.action-sub {
  font-size: 18px;
}

.action-right {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #eee;
  border: 2px solid #ffffff;
  border-radius: 8px;
  width: 125px;
  background: #3b82f6;
  padding: 8px 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;
  color: #e5e7eb;
}
